* {
    color: #4b4849 !important;
    font-family: 'PT Serif', serif;
}

/*body, html {*/
/*    height: 100%;*/
/*    margin: 0;*/
/*    overflow: hidden;*/
/*}*/

.mainSection {
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-color: lightgrey;
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*width: 100vw;*/
    /*height: 100vh;*/
    /*overflow: hidden;*/
}