.nav-link:hover {
    opacity: 0.5 !important;
}

.navSection {
    background-image: linear-gradient(to right, #E1E1E1, #E9EBEA, #FFAAAF);
}

.myName {
    transition: all 0.3s;
    text-decoration: none !important;
}

.myName:hover {
    color: #FFAAAF !important;
    transform: scale(1.05);
    fill: #FFAAAF;
}
